@media (max-width: 991px) {
    .container {
        max-width: 750px;
    }
    .promo {
        min-height: 550px;
        padding: 20px 0 60px 0;
        &__wrapper {
            margin-top: 55px;
        }
        &__header {
            font-size: 37px;
        }
        &__subheader {
            font-size: 22px;
            margin-top: 10px;
        }
        &__icons {
            margin-top: 40px;
            width: 350px;
        }
        &__icon {
            width: 90px;
            font-size: 12px;
            img {
                margin-bottom: 15px;
            }
        }
        .button_main {
            margin-top: 50px;
            width: 250px;
            height: 40px;
            font-size: 15px;
        }
    }
    .advantage {
        min-height: 410px;
        padding: 50px 0;
        &__icons {
            margin-top: 50px;
        }
        &__icon {
            width: 230px;
            h3 {
                margin-top: 20px;
                font-size: 16px;
            }
            &__descr {
                margin-top: 15px;
                font-size: 12px;
            }
        }
    }
    .heading {
        font-size: 27px;
    }
    .consultation {
        min-height: 590px;
        padding: 50px 0;
        &__descr {
            margin-top: 20px;
            font-size: 18px;
        }
    }
    .carousel {
        margin-bottom: 20px;
        padding: 50px 0;
        &__inner {
            width: 550px;
            img {
                width: 100%;
            }
        }
        .slick-dots {
            position: absolute;
            list-style-type: none;
            display: flex;
            bottom: -12%;
            left: 50%;
            transform: translateX(-50%);
            li {
                margin: 0 3px;
                width: 15px;
                height: 15px;
                border: 3px solid $main-color;
                border-radius: 100%;
            }
            button {
                display: none;
            }
            .slick-active {
                background-color: $main-color;
            }
        }
        .slick-prev, .slick-next {
            img {
                width: 20px;
                height: 40px;
            }
        }
    }
    .catalog {
        padding-bottom: 50px;
        &__tabs {
            margin-top: 35px;
        }
        &__content {
            margin-top: 40px;
        }
    }
    .comment {
        padding-bottom: 40px;
        &__item {
            margin-top: 40px;
            margin-bottom: 60px;
        }
        &__img {
            width: 109px;
            height: 109px;
        }
        &__content {
            margin-left: 30px;
            padding-right: 30px;
        }
        &__name {
            font-size: 16px;
        }
        &__text {
            font-size: 12px;
        }
        &__descr {
            font-size: 14px;
            margin-top: 15px;
        }
    }
    .footer {
        height: 580px;
        &__info {
            width: 400px;
            height: 230px;
            padding: 25px 30px;
        }
    }
    .pageup {
        width: 30px;
        height: 40px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 300px;
    }
    .promo {
        min-height: 350px;
        padding: 20px 0;
        .header {
            &__logo {
                width: 130px;
            }
            &__official {
                display: none;
            }
            &__phone {
                font-size: 15px;
            }
            .button {
                width: 130px;
                height: 25px;
                font-size: 10px;
            }
        }
        .promo {
            &__wrapper {
                margin-top: 20px;
            }
            &__header {
                font-size: 20px;
                line-height: 22px;
            }
            &__subheader {
                font-size: 12px;
                line-height: 8px;
                margin-top: 7px;
            }
            &__icons {
                margin-top: 20px;
                width: 250px;
            }
            &__icon {
                width: 90px;
                font-size: 10px;
                img {
                    width: 25px;
                    height: 27px;
                    margin-bottom: 10px;
                }
            }
            &__link {
                margin-top: 12px;
                font-size: 14px;
            }
        }
        .button_main {
            margin-top: 25px;
            width: 190px;
            height: 30px;
            font-size: 12px;
        }
    }
    .heading {
        font-size: 17px;
        &_left {
            font-size: 12px;
        }
    }
    .advantage {
        min-height: 200px;
        padding: 30px 0;
        &__icons {
            margin-top: 20px;
        }
        &__icon {
            width: 100px;
            img {
                width: 40px;
                height: 40px;
            }
            h3 {
                margin-top: 13px;
                font-size: 11px;
            }
            &__descr {
                display: none;
            }
        }
    }
    .consultation {
        min-height: 350px;
        padding: 25px 0;
        &__descr {
            margin-top: 10px;
            font-size: 13px;
        }
        .feed-form {
            margin-top: 20px;
            width: 250px;
            input {
                height: 40px;
                margin-bottom: 12px;
                padding: 0 15px;
                font-size: 13px;
            }
            .button_submit {
                height: 40px;
                font-size: 15px;
            }
        }
    }
    .carousel {
        margin-bottom: 20px;
        padding: 30px 0;
        &__inner {
            width: 250px;
            img {
                width: 100%;
            }
        }
        .slick-dots {
            position: absolute;
            list-style-type: none;
            display: flex;
            bottom: -20%;
            left: 50%;
            transform: translateX(-50%);
            li {
                margin: 0 3px;
                width: 10px;
                height: 10px;
                border: 1px solid $main-color;
                border-radius: 100%;
            }
            button {
                display: none;
            }
            .slick-active {
                background-color: $main-color;
            }
        }
        .slick-prev {
            position: absolute;
            top: 107%;
            transform: translateY(-50%);
            left: 35%;
            border: none;
            background-color: #fff;
            img {
                width: 10px;
                height: 15px;
            }
        }
        .slick-next {
            position: absolute;
            top: 107%;
            transform: translateY(-50%);
            right: 20%;
            border: none;
            background-color: #fff;
            img {
                width: 10px;
                height: 15px;
            }
        }
    }
    .catalog {
        padding-bottom: 30px;
        &__tabs {
            margin-top: 20px;
        }
        &__tab {
            width: 90px;
            height: 30px;
            font-size: 9px;
            line-height: 30px;
        }
        &__content {
            margin-top: 20px;
        }
        &-item {
            width: 145px;
            min-height: 250px;
            border: 1px solid #e8e8e8;
            padding: 8px;
            margin-bottom: 10px;
            &__img {
                height: 90px;
            }
            &__subtitle {
                margin-top: 8px;
                font-size: 11px;
            }
            &__descr {
                margin-top: 7px;
                font-size: 9px;
            }
            &__link {
                margin-top: 7px;
                font-size: 10px;
            }
            hr {
                margin-top: 7px;
                margin-bottom: 9px;
            }
            &__old-price {
                font-size: 9px;
            }
            &__price {
                font-size: 11px;
            }
            &__wrapper {
                display: flex;
                width: calc(200% + 21px);
            }
            &__list {
                min-height: 200px;
                padding-right: 10px;
                padding-left: 15px;
                li {
                    font-size: 8px;
                    margin-bottom: 8px;
                    &::before {
                        width: 3px;
                        height: 3px;
                        left: -12px;
                        top: 5px;
                    }
                }
            }
            &__back {
                font-size: 10px;
            }
        }
        .button_mini {
            width: 65px;
            height: 25px;
            font-size: 11px;
        }
    }
    .comment {
        padding-bottom: 40px;
        &__item {
            display: block;
            margin-top: 25px;
            margin-bottom: 40px;
        }
        &__img {
            display: block;
            width: 69px;
            height: 69px;
            margin: 0 auto;
        }
        &__content {
            margin-top: 15px;
            margin-left: 10px;
            padding-right: 20px;
        }
        &__name {
            font-size: 14px;
            text-align: center;
        }
        &__text {
            font-size: 9px;
            text-align: center;
            margin-top: 5px;
        }
        &__descr {
            font-size: 10px;
            margin-top: 10px;
            text-align: justify;
        }
    }
    .footer {
        height: 330px;
        iframe {
            height: 330px;
        }
        &__info {
            width: 200px;
            height: 110px;
            padding: 10px;
        }
        &__addr {
            font-size: 11px;
            margin-bottom: 15px;
            line-height: 12px;
        }
        &__phone {
            font-size: 14px;
            line-height: 10px;
            margin-bottom: 20px;
        }
        &__social-item {
            width: 25px;
            height: 25px;
            margin: 0 10px;
            img {
                height: 13px;
            }
        }
    }
    .pageup {
        bottom: 20px;
        right: 20px;
        width: 20px;
        height: 30px;
    }
}