.advantage {
    min-height: 470px;
    padding: 69px 0 78px 0;
    &__icons {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 247px;
        text-align: center;
        h3 {
            color: #0d0d0d;
            font-size: 18px;
            font-weight: 700;
            margin-top: 38px;
        }
        &__descr {
            color: #0d0d0d;
            font-size: 14px;
            font-weight: 300;
            margin-top: 26px;
            a {
                color: $main-color;
                text-decoration: underline;
            }
        }
    }
    &__animated {
        animation-name: heartbeat;
        animation-duration: 1.5s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        &:hover {
            animation-play-state: paused;
        }
    }
}