.comment {
    padding-bottom: 70px;
    &__item {
        margin-top: 70px;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__content {
        margin-left: 60px;
        padding-right: 60px;
    }
    &__name {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__text {
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        margin-top: 20px;
    }
}